.background-login-register {
    background-image: url(../assets/image/Air\ Hockey-main2.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}

.arrow {
    width: 50px;
    height: 45px;
    cursor: pointer;
}

.rectangle-21 {
    background-image: url(../assets/image/Rectangle\ 21.png);
    width: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.elipse {
    background-image: url(../assets/image/Ellipse\ 1.png);
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.male {
    background-image: url(../assets/image/male-icon\ 5.png);
    height: 20px;
    margin-left: 5px;
    margin-top: 0px;
    position: relative;
    top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.point {
    color: white;
    position: absolute;
    top: -3px;
    right: 25px;
    font-size: 10px;
}

.point span {
    display: flex;
    align-items: center;
}

.point span img {
    height: 15px;
    margin-right: 5px;
}

.player-top {
    margin-top: -10px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 74px;
}

.clash {
    width: 135px;
}

.hockey {
    width: 135px;
    margin-top: -30px;
}

.rectangle-28 {
    position: relative;
    padding: 1rem;
    background: #002947;
    border-radius: 10px;
    z-index: 10;
    width: 100px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    bottom: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle-28::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(90deg, #43FCFF, #FF09AF);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 10;
}

.rounded-rectangle {
    position: relative;
    padding: 1rem;
    background: #002947a1;
    border-radius: 12px;
    z-index: 1;
    width: 85%;
    min-height: 380px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: -0px;
}

.rounded-rectangle::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(90deg, #43FCFF, #FF09AF);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.icon {
    width: 23px;
    margin-right: 5px;
}

.shop {
    width: 70px;
}

.player {
    position: relative;
    padding: 1rem;
    background: #002947;
    border-radius: 10px;
    z-index: 10;
    width: 90%;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    bottom: -27px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.player::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(90deg, #43FCFF, #FF09AF);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 10;
}

.item1 {}

.item2 {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex: 1 1 100px;
    color: white;
    padding-left: 20px;
    font-size: 20px;
}

.item2 {
    margin-right: 15px;
    color: #50F2FD;
}

.item3 {
    position: relative;
    color: #50F2FD;
    width: 80px;
    font-size: 20px;
    padding-left: 5px;
}

.coin-img {
    width: 20px;
}